*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

th{

}
.th{
  text-align: center;
}

td{

}
.td{
  text-align: center;
}

body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
	overflow-y:scroll;
}
html, body {
    display: flow-root;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.display-block{
	display:block;}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}
.text-center{
	text-align:center;}
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
.color-black{
	color:black !important;}
.color-black:hover{
	color:white !important;}
	/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fafeff inset !important;
}*/
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	min-height:100vh;}
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.width50 {
    width: 50%;
}
.red-bg{
	background-color:#e8a600;}
.left-red-div {
    float: right;
    height: 100vh;
}
.login-img {
    width: 70%;
    margin-left: 15%;
    margin-top: 10vh;
}
.right-grey-div {
    float: left;
    padding-right: 7.5%;
    padding-left: 7.5%;
	padding-top: calc(50vh - 220px);
	min-height:100vh;
}

.tele-h1 {
    font-weight: 900;
}
.login-p {
    font-weight: 600;
}
.tele-input {
    width: 100%;
    margin-bottom: 20px;
    background-color: #dddddd;
    border: 0;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
}
.margin-bottom {
    margin-bottom: 50px;
}
.red-btn {
    border: 0;
    background-color: #e8a600;
    color: white;
    width: 100%;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
}
.red-btn:hover{
	background-color:#c68900;
	transition:.25s ease-in-out;
	cursor:pointer;
}
.side-bar {
    width: 300px;

    padding-top: 30px;
    height: 100vh;
    position: fixed;
}
.logo-img {
    width: 150px;
    margin-left: 75px;
}
.sidebar-ul {
    margin-top: 30px;
	padding: 0;
	
}
.sidebar-li {
    list-style: none;
    color: white;
    padding: 8px 0;
	clear: both;
	overflow: hidden;
	padding-left: 50px;
}
.sidebar-li img {
    width: 30px;
	float:left;
}
.sidebar-li p {
    float: left;
    margin-top: 8px;
	margin-left:25px;
	font-weight: 500;
	margin-bottom: 0;
}
.hover1b{
	display:none;}
.hover1:hover .hover1a{
	display:none;}
.hover1:hover .hover1b{
	display:inline-block;
	cursor:pointer;}
.next-to-sidebar {
    margin-left: 300px;
    width:calc(100% - 300px);
    padding-left: 50px;
    padding-right: 50px;
	overflow:hidden;
	min-height:100vh;
	background-color:#f0f1f2;
	padding-top: 50px;
}
.four-div {
    background-color: white;
    float: left;
    width: 22%;
    border-radius: 10px;
	text-align: center;
}
.left-mid-four {
    margin-left: 4%;
    margin-right: 4%;
}
.right-mid-four {
    margin-right: 4%;
}
.big-icon {
    width: 40%;
	text-align:center;
}
.white-to-pink-div {
    padding: 20px;
	background-color:white;
}

.four-div p {
    font-weight: 600;
	color: black;
}
.white-to-pink-div:hover{
	background-color:#bf1b37;
	color:white;
	cursor:pointer;
	transition:.25s ease-in-out;
	text-align:center;}
.white-to-pink-div:hover p{
	color:white !important;}
.mobile-logo {
    height: 30px;
    float: left;
}
.menu-color {
    background-color: #bf1b37;
	padding-top: 5px;
    padding-bottom: 3px;
}
.dl-menu {
    height: 100vh;
    overflow: scroll;
}
.dl-menuwrapper{
	display:none;
	float: right;
    width: auto;
}
.dl-menuwrapper button {
    margin-top: 3px;	
}
.dl-menu {
    margin-top: 5px !important;
}

.input50-div {
    width: 48%;
    float: left;
}
.second-input50 {
    margin-left: 4%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #dddddd inset;
  transition: background-color 5000s ease-in-out 0s;
  font-size:15px;
}
.margin-top30{
	margin-top:30px;}
.fix300-btn {
    width: 300px;
    margin-left: calc(50% - 150px);
}
.shipping-table {
    width: 100%;
	border-collapse:collapse;
    font-size: 14px;
	word-break: keep-all;
}
.shipping-table th{
	text-align:left;
	padding: 12px 2px;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
}
.shipping-table td{
	border-bottom: 1px solid gainsboro;
    padding: 12px 2px;
}
.overflow-scroll-div {
    width: 100%;
    overflow: auto;
	height: 77vh;
}
.red-link{
	color:#e8a600;
}
.red-link:hover{
	color:#c68900;
	transition:.15s ease-in-out;
	cursor:pointer;}
.img-btn{
	background:none;
	border:0;
	width: 30px;}
.margin-left0{
	margin-left:0 !important;}
.black-white-link2:hover{
	color:#bf1b37;
	cursor:pointer;
	transition:.15s ease-in-out;}
.back-btn2 {
    width: 25px;
}
.clean-bg{
	background-color:transparent;}
.logo-img {
    width: 80px;
    margin-left: 0;
}
.sidebar-ul {
    margin-top: 10px;}
.side-bar {
    padding-top: 10px;}
.add-status-btn {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
}
	
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 0;
  width: 50%;
  border-radius: 10px;
  margin-top: calc(50vh - 220px);
}

/* The Close Button */
.close-css {
  color: #e8a600;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #c68900;
  text-decoration: none;
  cursor: pointer;
}
.input-p {
    margin-bottom: 5px;
}
.input-style {
    font-size: 18px;
    width: 100%;
    padding: 5px;
	margin-bottom: 10px;
}
.modal-submit {
    width: 300px;
	margin-top: 30px;
}
.header1{
	background-color:#e8a600;	
}
.opacity-hover:hover{
	opacity:0.85;
	transition:.15s ease-in-out;
	cursor:pointer;}
.menu-a{
	color:white;}
.menu-margin-right {
    margin-right: 18px;
}
.logo-a {
    width: 25px;
}
.right-menu-div {
    margin-top: 10px;
}
.menu-distance {
    margin-top: 75px;
}
.dl-menuwrapper {
    display: none;
	margin-top: -15px;
}
.three-div {
    width: 31%;
    float: left;

}
.mid-three-div {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.white-div-with-shadow{
	background-color:white
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.13); 
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.13);
	border-radius: 10px;
	text-align:center;
	padding: 25px 10px;		
}
.big-p {
    font-weight: 900;
    font-size: 21px;
    color: black;
	min-height:50px;
}
.small-p {
    color: black;
    font-size: 18px;
	margin-bottom: 0;
}
.gold-bg{
	background-color: #e8a600;
}
.footer-div {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.min-height {
    min-height: calc(100vh - 102px);
}
.emer {
    width: 300px;}
@media all and (max-width: 1300px){
.black-white-link2 {
    font-size: 21px;
}
.back-btn2 {
    width: 15px;
}
}
@media all and (max-width: 1250px){
.login-img {
    width: 85%;
    margin-left: 7.5%;
    margin-top: 8vh;
}	
.four-div p {
    min-height: 38px;
}

}
@media all and (max-width: 1100px){
.four-div{
	width:48%;
	margin-bottom:30px;}
.left-mid-four {
    margin-left: 4%;
    margin-right: 0;
}
.right-mid-four {
    margin-left: 0;
    margin-right: 4%;
}
.tempo-2-clear {
    clear: both;
}
}
@media all and (max-width: 1050px){
.menu-a {
    font-size: 14px;
}
}
@media all and (max-width: 950px){
.dl-menuwrapper {
    display: block;
}
.web-a{
	display:none;}
}
@media all and (max-width: 900px){
.black-white-link2 {
    font-size: 17px;
}
.back-btn2 {
    width: 12px;
}
.status-content {
    width: 75%;
}
.big-p {
    font-size: 16px;
	min-height: 38px;}
}
@media all and (max-width: 800px){
.side-bar{
	display:none;}
.next-to-sidebar{
	width:100%;
	margin:0;
	padding-left:7.5%;
	padding-right:7.5%;}
.dl-menuwrapper{
	display:block;}
.sidebar-li p {
    margin-top: 5px;
    font-size: 14px;
}
.header1{
	display:block;}
.h1-title {
    font-size: 24px;
}
.tab-h2 {
    font-size: 16px;
}
}
@media all and (max-width: 700px){
.left-red-div{
    width: 100%;
    float: none;
	height:auto;	
}
.login-img {
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
	margin-bottom:20px;}
.right-grey-div{
	float:none;
	width:100%;
	min-height:auto;
	padding-bottom: 50px;
	padding-top:50px;}
.big-p {
    font-size: 14px;
	min-height:34px;}
}
@media all and (max-width: 600px){
.modal-submit {
    width: 100%;}
.three-div {
    width: 48%;
	margin-bottom: 30px;
}
.mid-three-div {
    margin-left: 4%;
    margin-right: 0;
}
}
@media all and (max-width: 550px){
.status-content {
    width: 85%;
}
.input-p {
    font-size: 13px;
}
.input-style {
    font-size: 15px;}
}
@media all and (max-width: 500px){
.h1-title {
    font-size: 21px;
}	
.fix300-btn{
	width:100%;
	margin-left:0;}
.input50-div {
    width: 100%;
    float: none;
    margin-left: 0;
}
}
@media all and (max-width: 400px){
.four-div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;}	
.four-div p {
    min-height: 0;
}	
.emer {
    width: 80%;
}	
}
@media all and (max-width: 360px){
.three-div {
    width: 100%;
    margin-left: 0;}	
.big-p {
    min-height: 0;
}
}